.categories {
    background-color: $light;

    .container {
        padding: 3rem 0;
        margin-bottom: 2rem;

        h2 { margin-bottom: 2rem; }
        .btn.top { float: right; }
        .btn.bottom { display: none; }

        .card {
            background-color: $white;
            height: 100%;
            min-height: 180px;
            padding: 2rem 2rem 3rem;
            position: relative;

            &:hover { @include default-shadow; }

            .content {
                width: calc(100% - 150px + 2rem);

                h3 a {
                    color: $body-color;
                    text-decoration: underline;
                }

                a { color: $text-muted; }
                a:hover { color: $orange !important; }
                p:last-child { margin-bottom: 0; }
            }

            .thumb {
                bottom: 0;
                position: absolute;
                right: 0;
            }
        }

        .row {
            margin-bottom: calc(-5rem - 2 * #{$gutter});

            > div { margin-bottom: 2 * $gutter; }
        }
    }

    @include media-breakpoint-down(md) {
        .container {
            margin-bottom: 0;

            .row {
                margin-bottom: -$gutter;

                > div { margin-bottom: $gutter; }
            }
        }
    }

    @include media-breakpoint-down(sm) {
        .container {
            padding: 2rem 0;

            h2 { text-align: center; }
            .btn.top { display: none; }

            .row {
                margin-left: 0;
                margin-right: 0;

                .column {
                    padding-left: 0;
                    padding-right: 0;
                }
            }

            .btn.bottom {
                display: block;
                margin: 2rem $gutter 0;
                width: calc(100% - 2 * #{$gutter});
            }

            .row > .column:nth-last-of-type(-n+2) {
                display: none;
            }
        }
    }
}

.category-list {
    border: 1px solid $border-color;
    border-radius: $border-radius-lg;
    margin-bottom: $gutter * 2;

    a, span {
        align-items: center;
        display: flex;
        padding: 1rem 2rem;
    }

    a {
        color: $body-color;
        justify-content: space-between;

        .arrow-right { margin-left: 1rem; }

        &:hover {
            background-color: $light;
            color: $blue;
            text-decoration: none;

            .arrow-right { border-left-color: $blue; }
        }
    }

    span {
        color: $text-muted;
        background-color: $light;
        font-weight: bold;
    }

    @include media-breakpoint-down(md) {
        display: none;
    }
}

.vendors {
    .container {
        padding: 3rem 0;

        .card {
            height: 60px;
            margin: 0 auto;
            padding-bottom: 10px;
            width: 70px;

            &:hover { @include default-shadow; }
        }

        .siema {
            height: 70px;
            margin-bottom: -20px;
            padding: 0;
            text-align: center;
        }
    }
}

@include media-breakpoint-down(sm) {
    .vendors { display: none; }
}

.benefits {
    .container {
        padding: 3rem 0;

        .row {
            margin-bottom: -$gutter * 2;

            > div { margin-bottom: $gutter * 2; }

            .benefit {
                border: 1px solid $orange;
                border-radius: $border-radius-lg;
                height: 100%;
                padding: 2rem;
                text-align: center;

                h5 {
                    font-size: 16px;
                    margin-top: 1rem;
                }

                p {
                    color: $secondary;
                    margin-bottom: 0;

                    strong { color: $orange; }
                }
            }
        }

        .pagination {
            margin-top: 1rem;
            text-align: center;
        }
    }

    @include media-breakpoint-down(md) {
        .container .row {
            margin-bottom: -$gutter;

            > div { margin-bottom: $gutter; }
        }
    }

    @include media-breakpoint-down(sm) {
        .container {
            padding: 2rem $gutter;

            .row {
                display: block;
                margin-bottom: 0;

                .benefit { height: 205px; }
            }
        }
    }

    @include media-breakpoint-up(md) {
        .pagination { display: none; }
    }
}

.featured {
    .container {
        padding: 0 0 1rem;

        .siema {
            margin: 0 -5px;

            > div > div {
                padding-left: 5px;
                padding-right: 5px;
            }
        }

        .product {
            display: inline-block;
            margin-bottom: 1rem;
            padding: 1rem;

            &:hover { @include default-shadow; }

            .thumb {
                margin-bottom: 1rem;
                text-align: center;
            }

            .title {
                display: block;
                height: $default-font-size * $line-height-base * 3;
                margin-bottom: 1rem;
                overflow: hidden;
            }

            .price {
                font-size: 16px;
                font-weight: bold;
            }
        }
    }

    @include media-breakpoint-down(sm) {
        .container {
            padding: 0 $gutter 2rem;

            .siema {
                margin: 0;

                > div > div { padding: 0; }
            }

            .product { margin: 0; }
        }
    }
}
